body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form {
    width: 90wh;
    padding: 2em;
    background-color: rgb(200, 183, 216);
    color: whitesmoke;
    border-radius: 15px;
    margin: 2em;
}
input {
    height: 2em;
    border-radius: 5px;
    margin: 0.5em;
}
.labels {
    color: black;
}
.radio {
    font-family: color black;
    width: 12em;
}
button {
    height: 2em;
    border-radius: 5px;
    background-color: rgb(88, 13, 159);
    color: white;
    width: 8em;
    margin-block-start: 1em;
    margin-inline-start: 1em;
}
.next {
    margin-inline-start: 2.5em;
}
