body {
    background-color: #f4a261;
    box-sizing: border-box;
}
form {
    display: block;
    justify-content: center;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
